<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add
      name="DB Connection"
      providerName=".NET Framework Data Provider for SQL Server"
      connectionString="Data Source=tfs.orbisit.com.au;Initial Catalog=Quintus;Persist Security Info=True;User ID=quintus.cardozo;Password=pCwZfnPhVsV5W83V56x8AtyLNUXHJAewQtWfWuWV74GfAwSPjPeuzyMM2gdu2tm5"  />
  </connectionStrings>
</configuration>